## Imports and Setup

In [2]:
import os
import sys
sys.path.insert(0, "../src")
import sat_download

sys.path.insert(0, "../utils/")
import config_utils
import data_utils
import geopandas as gpd
import pandas as pd

%load_ext autoreload
%autoreload 2

## File Locations

In [3]:
iso = "UKR"
cwd = os.path.dirname(os.getcwd())

# Credential config file
config_file = os.path.join(cwd, "configs/sat_configs/sat_config_500x500_60cm.yaml")
creds_file = os.path.join(cwd, "configs/sat_configs/doh_sat_creds.yaml")

config = config_utils.load_config(config_file)
creds = config_utils.create_config(creds_file)

## Download Dataset

In [ ]:
sat_download.download_sat_images(creds, config, category="school", iso=iso, download_validated=True)

In [8]:
sat_download.download_sat_images(creds, config, category="non_school", iso=iso)

INFO:root:Data dimensions: (13523, 12), CRS: EPSG:3857
100%|████████████████████| 13523/13523 [7:09:32<00:00,  1.91s/it]

## Data Inspection

In [8]:
config = config_utils.load_config(os.path.join(cwd, "configs/data_config.yaml"))
counts = data_utils.get_counts(config, column='iso')
counts

Reading ZAF:  93%|██████████████████▌ | 39/42 [02:42<00:12,  4.05s/it]                                                  WARNING:fiona.ogrext:Expecting property name enclosed in double quotes: line 1 column 2 (char 1)
Reading BRA: 100%|████████████████████| 42/42 [03:53<00:00,  5.56s/it]

     school  non_school
iso
BRA  167737       68428
NGA   86225       86225
THA   68248       68248
ZAF   36729       36729
MDG   26338       26338
NER   16352       16352
HND   15285       15285
GHA   13523       13523
UKR   13450       31052
UZB    9926        9926
KEN    9052        9052
KAZ    7589       11055
SEN    7077        9045
MWI    6875        6875
BEN    6595        6595
HUN    6038       18027
SLV    5448        5448
CRI    5014        5704
SLE    4935        4935
ZWE    4130        6749
PAN    2990        3065
RWA    2824        3335
SSD    1837        3764
YEM    1679        5323
NAM    1634        1634
GIN     989        1663
BWA     939        1667
MNG     790        2197
BIH     718        4104
TTO     467        1998
BLZ     233         830
BRB      93         729
LCA      79         355
VCT      75         129
GRD      67         153
DMA      64         127
ATG      52         250
KNA      39         157
VGB      23          98
MSR      13          16
AIA      10          64
KIR      10          10